* {
    font-family: 'Roboto', sans-serif;
}

body {
    
}

.hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}